<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConfigurationTestExecutable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Credentials 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Credentials 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Credentials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Kitura 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Kitura 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Kitura 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Kitura.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>todolist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>todolist.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_363</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
